Brlapi==0.8.5
Jinja2==3.1.3
LibAppArmor==3.1.7
MarkupSafe==2.1.4
PyGObject==3.46.0
SecretStorage==3.3.3
apparmor==3.1.7
attrs==23.2.0
bcrypt==4.1.2
btrfsutil==6.7
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==41.0.7
dbus-python==1.3.2
distro==1.9.0
dnspython==2.5.0
docutils==0.20.1
gufw==24.4.0
idna==3.6
importlib-metadata==5.1.0
jaraco.classes==3.3.1
jeepney==0.8.0
keyring==24.3.0
louis==3.28.0
more-itertools==10.1.0
netsnmp-python==1.0a1
packaging==23.2
pip==24.0
ply==3.11
proton-client==0.7.1
protonvpn-cli==3.13.0
protonvpn-gui==1.12.0
protonvpn-nm-lib==3.16.0
psutil==5.9.8
pwquality==1.4.5
pyOpenSSL==24.0.0
pycairo==1.26.0
pycparser==2.21
python-gnupg==0.5.2
pythondialog==3.5.3
pyxdg==0.28
requests==2.31.0
setproctitle==1.3.3
setuptools==69.1.1
systemd-python==235
ufw==0.36.2
urllib3==1.26.18
wheel==0.42.0
zipp==3.17.0